
.sleep-main {
  background-color: #edf4fe;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sleep-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  text-align: center;
  width: 55%;
  height: 80vh;
  backdrop-filter: blur(4px);
  border-radius: 40px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.045em;
  color: black;
}

.sleep-title {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
}

.sleep-add-btn {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.sleep-new-btn1 {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.sleep-statistics {
  display: flex;
  flex-direction: row;
  margin: 40px auto 0;
  width: 90%;
  height: 50vh;
  padding: 10px;
  gap: 40px;
}

.sleep-duration,
.sleep-stats {
  width: 50%;
  margin-left: 10px;
}

.sleep-stats {
  overflow-y: auto;
}

.sleep-duration-title,
.sleep-stats-title {
  font-size: 1.2rem;
}

.sleep-duration-graph {
  position: relative;
}

.sleep-container-table {
  margin-top: 0.2rem;
  width: 100%;
  height: 40vh;
}

.sleep-main-table {
  width: 100%;
  font-size: 0.8rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.sleep-main-table th,
.sleep-main-table td {
  padding: 0.5rem;
  text-align: left;
  color: gray;
}

.sleep-main-table thead th {
  background-color: transparent;
}

.sleep-main-table tbody td:not(:first-child) {
  background-color: #e0e9f5;
}

/* Rounded corners for table */
.sleep-main-table thead th:first-child {
  border-top-left-radius: 10px;
}
.sleep-main-table thead th:last-child {
  border-top-right-radius: 10px;
}
.sleep-main-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.sleep-main-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* Input styling */
.sleep-input-group {
  position: relative;
}

.sleep-input {
  width: 100%;
  border: 1.5px solid #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  transition: border 150ms ease;
  margin-bottom: 10%;
}

.sleep-input:focus {
  outline: none;
  border: 1.5px solid #1a73e8;
}

.sleep-save-btn {
  margin-bottom: 3%;
}
